.login-container {
  max-width: 500px;
  margin: auto;
  margin-top: 1rem;
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  padding: 2rem;
  transition: all .25s;
}

.login-container {
  text-align: center
}

.field {
  margin-bottom: 1rem;
}

.field label {
  margin-right: 1rem;
  line-height: 2;
}

.field input {
  background: none;
  border: 1px solid gray;
  padding: .5rem;
  border-radius: .75rem;
  width: 100%;
  color: white;
}

.error {
  background: tomato;
  margin-top: 1rem;
  line-height: 3;
  padding: 0.25rem 2rem;
  border-radius: .25rem;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: white;
  border: none;
  color: darkblue;
  padding: 1rem;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}